m
{
text-align:center;
color:red;
font-family:bold;
text-transform:uppercase;

}
list
{

background-color: blue
}
do
{
text-align:center;
color:blue;
font-family:bold;
text-transform:uppercase;
background-color: #FFFF66
}
f
{
text-align:center;
color:blue;
font-family:bold;
text-transform:uppercase;
background-color: green
}
mo
{
text-align:center;
color:read;
font-family:bold;
text-transform:uppercase;
background-color: blue
}
r
{
text-align:center;
color:read;
font-family:bold;
text-transform:uppercase;
background-color: blue
}
